.main {
    header {
        line-height: 2.6875rem;
        text-align: center;
        position: relative;

        a {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }

    .content {
        margin: 0 1.25rem 1.25rem;

        .list {
            text-align: center;

            a {
                display: block;
                padding-top: 0.625rem;
                padding-bottom: 0.625rem;

                img {
                    width: 20rem;
                    height: 13.125rem;
                }
            }

            p {
                text-align: left;
                text-indent: 2rem;
            }
        }
    }
}