.main header {
  text-align: center;
  line-height: 2.6875rem; }

.main .content {
  margin: 0 1.25rem 5.45rem; }
  .main .content .live-content p {
    width: 17.375rem;
    background-color: #d8f3f9;
    font-size: 0.75rem;
    color: #666;
    line-height: 2.5rem;
    border-left: 0.3125rem solid #127884;
    border-radius: 3px;
    margin: 0 auto;
    position: relative; }
    .main .content .live-content p::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-right: 0.4375rem dotted #fff; }
    .main .content .live-content p span {
      font-size: 1.125rem;
      color: #000;
      margin-left: 1.25rem;
      margin-right: 0.4375rem; }
  .main .content .live-ul li {
    border: 1px dotted #999;
    margin-top: 1.875rem;
    border-radius: 0.3125rem;
    padding-right: 0.3125rem; }
    .main .content .live-ul li a span.number {
      color: #1278a2;
      font-size: 1.25rem;
      position: relative;
      top: -0.8125rem;
      left: 0.125rem; }
    .main .content .live-ul li p {
      font-size: 0.75rem;
      color: #999;
      text-align: right;
      line-height: 1.4375rem; }

.main footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f7f7fa; }
  .main footer ul li {
    width: 25%;
    font-size: 0.875rem;
    float: left;
    text-align: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem; }
    .main footer ul li a {
      display: block; }
      .main footer ul li a img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%; }
